
<!--<div class='headerd'>

  <div>Dashboard</div>

  
  <div style="display: flex; align-items: center; gap: 20px; font-size: 18px;">
    <div>👤 {{user_name}}</div>
    <button class= 'buttond'
            >
      خروجs
    </button>
  </div>
</div>

<div class="sider">


  <div class="item">
    <div [style]="color2(0)" (click)="nav(0)">Review Request</div>
    <div [style]="color2(1)" (click)="nav(1)">View Client</div>
    <div [style]="color2(2)" (click)="nav(2)">New Car Model</div>
    <div [style]="color2(3)" (click)="nav(3)">Models</div>
  </div>


  <div style="flex: 1; padding: 25px; overflow-y: auto;">
  
  </div>
</div>-->
  <router-outlet></router-outlet>






